{% extends 'base.html.twig' %}

{% block title %}Officials{% endblock %}
{#<twig:block name="title">Officials</twig:block>#}

{% block stylesheets %}
    {{ parent() }}
{#    <link href="{{ asset('./styles/searchPanes.css') }}">#}
{% endblock %}

{% block xxjavascripts %}
{{ parent() }}
<script type="module">
    import $ from 'jquery';
    import DataTable from "datatables.net-bs5";
    // import 'datatables.net-bs5';
    import 'datatables.net-select-bs5';
    import 'datatables.net-searchpanes-bs5';

    // https://jsfiddle.net/tacman1123/b2f3hj08/23/

    // import {default as axios} from "axios";
    import 'datatables.net-bs5/css/dataTables.bootstrap5.css';
    import 'datatables.net-searchpanes-bs5/css/searchPanes.bootstrap5.css';
    var table = new DataTable('#example', {
        searchPanes: {
            layout: 'columns-1'
        },
        dom: 'lfrtipP',
        // dom: '<"dtsp-dataTable"frtip>',
        pageLength: 20
    });
    table.searchPanes();
    console.log('moving searchPanes to the side');
    $("div.dtsp-verticalPanes").append(table.searchPanes.container());
</script>

{% endblock %}

{% block xxbody %}
<div class="dtsp-verticalContainer">
    <div class="dtsp-verticalPanes">@verticalPanes</div>
    <div class="container">
        {{ block('example') }}
    </div>
</div>
{% endblock %}

{% block body %}
{#    <div class="dtsp-verticalContainer">#}
{#        <div class="dtsp-verticalPanes"></div>#}
{#        <div class="container">#}

{#        </div>#}
{#    </div>#}

    <h1>Elected Officials (Grid Component)</h1>
    <p>
        This page uses the <code>grid</code> component to generate a table from a doctrine query ->findAll()
    </p>


    <code>{{ app.locale }}</code>
    {% set _sc = 'locale_display' %}
    {{ app.request.locale }}

    <div class="dtsp-verticalContainer row">
        <div class="dtsp-verticalPanes bg-warning-subtle col-md-3"></div>
        <div class="container col-md-9">
            the container
            {{ block('gridTable') }}
        </div>
    </div>

    {#    <div class="dtsp-verticalContainer row" id="verticalContainer">#}
{#        <div class="search-panes col-3" id="searchPanesVerticalContainer">#}
{#            searchPanes on left.#}
{#        </div>#}
{#        <div class="col-9">#}
{#            {{ block('gridTable') }}#}
{#        </div>#}
{#    </div>#}
{% endblock %}

{% block gridTable %}
    {#    <h1>SearchPanes</h1>#}
{#    <div class="searchPanes">SearchPanes DOM</div>#}

    {% set columns = [
        'id',
        'officialName',
        {name: 'imageCount', sortable: true, title: '#images'},
        {name: 'gender', sortable: true, inSearchPane: true},
        {name: 'currentParty', sortable: true, inSearchPane: true},
        {name: 'state', sortable: true, searchable: true, inSearchPane: true},
        {name: 'house', sortable: true, inSearchPane: true},
        {name: 'district'},
    ] %}
    <twig:grid
            :data="data"
            dom="lfrtipP"
            :columns="columns"
    >

        <twig:block name="imageCount">
            {{ row.imageCount }}
            {% for code, imageData in row.imageCodes|slice(0,1) %}
                {% for filter, size in imageData %}
                    {% if filter == 'small' %}
                        {% set thumb = 'x' %}
{#                    {% set thumb = code|survos_image_filter(filter) %}#}
                    <div class="item">
                        <a href="{{ thumb }}" target="_blank">
                            <img src="{{ thumb }}" alt="{{ thumb }}" class="app-img-thumbnail" />
                        </a>
                        <br />{{ (size/1024)|number_format(1) }}kb
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </twig:block>

        {% block officialName %}
            <a href="{{ path('app_congress_show', {'id': row.id}) }}">
                {{ row.officialName }}
            </a>
        {% endblock %}

        {% block birthday %}
            {{ row.birthday|date('Y-m-d') }}
        {% endblock %}
{#        <twig:block name="birthday">#}
{#            {{ row.birthday|date('Y-m-d') }}#}
{#        </twig:block>#}

        {% block actions %}
            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a>
        {% endblock %}
    </twig:grid>
{% endblock %}
